In [1]:
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
from glob import glob
from PIL import Image
%matplotlib inline

In [2]:
import pickle

In [6]:
df = pickle.load(open("./dataset/image_dataframe.pkl","rb"))

In [7]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,male,13,12,11,10,10,9,8,6,3,...,6,8,1,3,2,1,0,0,0,0
1,male,36,31,28,29,26,22,27,30,27,...,113,110,100,106,99,73,54,52,47,40
2,male,16,16,16,16,15,15,18,21,23,...,30,33,41,50,53,45,45,50,62,78
3,male,158,151,152,155,155,153,162,161,160,...,206,208,212,215,213,214,218,218,213,206
4,male,138,138,141,144,144,144,143,137,132,...,11,21,25,18,8,4,1,1,3,3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8889 entries, 0 to 9402
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 84.9+ MB

In [20]:
X = df.iloc[:,1:].values
y = df.iloc[:,0].values

In [23]:
X.shape

(8889, 10000)

In [26]:
X.max(),X.min()

(255, 0)

In [28]:
Xnorm = X / X.max()
Xnorm

array([[0.05098039, 0.04705882, 0.04313725, ..., 0.        , 0.        ,
        0.        ],
       [0.14117647, 0.12156863, 0.10980392, ..., 0.20392157, 0.18431373,
        0.15686275],
       [0.0627451 , 0.0627451 , 0.0627451 , ..., 0.19607843, 0.24313725,
        0.30588235],
       ...,
       [0.01176471, 0.06666667, 0.11372549, ..., 0.77254902, 0.84313725,
        0.91764706],
       [0.65098039, 0.65882353, 0.70196078, ..., 0.24313725, 0.34901961,
        0.46666667],
       [0.09803922, 0.08627451, 0.0627451 , ..., 0.0745098 , 0.08627451,
        0.12156863]])

In [29]:
y

array(['male', 'male', 'male', ..., 'female', 'female', 'female'],
      dtype=object)

In [32]:
y_norm = np.where(y=="male",0,1)

In [35]:
np.savez("./dataset/dataframe_norm.npz",Xnorm,y_norm)